<title>{{APP_NAME}}</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/main.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/sweetalert.min.css">
<link rel="shortcut icon" href="/img/icon.gif" type="image/gif">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="{{APP_NAME}}">
<meta property="og:description" content="We know how much he pays attention to his image. Just curious what people think about him.">
<meta name="description" content="We know how much he pays attention to his image. Just curious what people think about him.">
<meta property="og:image" content="{{APP_URL}}img/djt.png">
<meta property="og:type" content="website">
<meta property="og:url" content="{{APP_URL}}">