<!DOCTYPE html>
<html>
<head>
  {% include 'header.twig' %}
</head>

<body>
<main>
	<div class="container-fluid">
		{% block content %}{% endblock %}
	</div>
</main>

{% include 'footer.twig' %}
</body>
</html>