<h3>Top 10 opinions of our President {% if max_words > 0 %}<small><small>(<a class="float-right" href="/?words_all">The Full List</a>)</small></small>{% endif %}</h3>
<ul class="list-group word-data" id="word-data-all">
	{% for word in word_data.all %}
		<li class="list-group-item">
			<span class="badge">{{word.count}} {% if word.count != 1 %}Times{% else %}Time{% endif %}</span>
			{{word.word}}
		</li>
	{% endfor %}
</ul>